@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.App {
  text-align: center;
}
header {
  padding: 12px 10px;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid;
  background: #dfdfdf;
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  flex-direction: row;
}
canvas {
  border-bottom: 1px solid grey;
  cursor: pointer;
}
.tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.tools button {
  padding: 8px 14px;
  font-size: 15px;
  margin-right: 16px;
  border: 0 none;
}
#undo {

}
#clear {
  background: #f16d6d;
  color: white;
}
.canvas-palette {
  width: 85%;
}
.controls {
  width: 270px;
  height: 100vh;
  font-size: 14px;
  background: #dfdfdf;
  color: #616161;
}
.section {
  padding: 15px 20px;
  border-bottom: 1px solid grey;
  text-align: left;
}

.section label {
  margin-bottom: 30px;
  display: block;
}
.color-field {
  width: 30px;
  height: 30px;
}

.color-field.active {
  border: 1px solid blue;
}
.color-chooser {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.stroke-header {
  display: flex;
  justify-content: space-between;
}
.stroke {
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s all;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 12px;
  text-align: center;
}
.stroke.active {
  border: 1px solid blue;
  padding: 4px;
}
.stroke-field {
  background: black;
}
div[role="button"]:hover,
button:hover {
  cursor: pointer;
}
.stroke-field.active {
  border: 2px solid;
}

/** swatches **/

.swatches-picker {
  width: 219px !important;
}

.swatches-picker div > div {
  box-shadow: none !important;
  padding: 0px !important;
  background: #dfdfdf !important;
}
.copyToClipboard {
  display: flex;
}

.share {
  position: relative;
}
.recordfill {
  color: lightgreen;
  position: absolute;
  top: -13px;
  left: 22px;
}
.stroke-selection{
  display: flex;
  justify-content: space-between;
}
